
.input-group.md-form.form-sm.form-2 input.lime-border  {
    border: 1px solid #cddc39;
}

.mdb-select input.lime-border  {
    border: 1px solid #cddc39;
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ced4da;
    outline: 0;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
}
