{% extends "header.html" %}
{% block content %}
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Mass Add Notes to Devices</h1>

            <form method="POST" id="add_notes">
                <textarea rows="4" cols="50" name="note" form="add_notes">Note To Add:</textarea><br>
                <label for="dids"> DIDs (Comma-separated):</label>
                <input type="text" name="dids"><br>
                <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>
{% endblock %}