{% extends "header.html" %}
{% block content %}
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Device Group Report</h1>
            <form method="POST">
                <p>Please select a device group:</p>
                <select id="simple" name="uri">
                    {%  for item in data %}
                    {%  for key,value in item.items()  %}
                    <option value={{  key  }}>{{  value  }}</option>
                    {% endfor %}
                    {% endfor %}
                </select><br>
                <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>
{% endblock %}