{% extends "header.html" %}
{% block content %}
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Information On An Event:</h1>

            <form method="POST">
                  Event ID: <input type="text" name="event_id"><br>
                  Active Event <input type="checkbox" name="active"><br>
                  <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>
{% endblock %}