{% extends "header.html" %}
{% block content %}
    <div style="padding-top: 40px;">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Event Policy Information</h1>
            <h4 class="animated fadeIn mb-6">Click on the name to view the policy</h4>
            <h4 class="animated fadeIn mb-7">Click on the number to view a list of policies</h4>
            <table class="table" id="report">
                    <thead>
                      <tr>
                          <th>Policy Name</th>
                          <th>Policy Number</th>
                          <th>Policy Severity</th>
                      </tr>
                    </thead>
                      <tr>
                          <td><a href="{{ report['details'] }}">{{ report['name'] }}</a></td>
                          <td><a href="{{ report['link'] }}">{{ report['number'] }}</a></td>
                          <td>{{ report['severity'] }}</td>
                      </tr>
                    </tbody>
                  </table>
        </div>
    </div>
{% endblock %}