<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SLither</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ url_for('static', filename='css/mdb.min.css') }}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- Dropzone -->
    <!--<link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet">-->
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark success-color-dark">
    <a class="navbar-brand" href="/">ScienceLogic API Tool | Codename: SLither</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>

            <!-- Edit -->
            <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" href="#" id="edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Edit
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="nav-link" href="/sku">SKU Devices<span class="sr-only"></span></a>
                <a class="nav-link" href="/add_notes">Mass Add Device Notes<span class="sr-only"></span></a>
            </li>
                <div>
            <!-- Reports -->
            <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" href="#" id="reports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item nav-link" href="/devgroup_report">Device Group Report<span class="sr-only"></span></a>
                <a class="dropdown-item nav-link" href="/serial">Serial Number Report<span class="sr-only"></span></a>
                <a class="dropdown-item nav-link" href="/empty_skus">Empty SKU Report<span class="sr-only"></span></a>
                <a class="dropdown-item nav-link" href="/see_notes">Notes on Devices<span class="sr-only"></span></a>
                <a class="nav-link" href="/event_id">Event Info<span class="sr-only"></span></a>
            </li>
                </div>
            <!-- Tools -->
            <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" href="#" id="tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item nav-link" href="/cidr">IPs to CIDR Notation</a>
                <a class="dropdown-item nav-link" href="/extractor">Extract IPs</a>
                </div>
                </div>
            </ul>
    </div>
</nav>

{% block content %}{% endblock %}

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
    <!-- Dropzone -->
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/dropzone.js') }}"></script>-->
</body>

</html>
