{% extends "header.html" %}
{% block content %}
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">SLither {{version}} (Beta)</h1>
        </div>
    </div>
{% endblock %}