{% extends "header.html" %}
{% block content %}
    <div style="padding-top: 40px;">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Extracted IP addresses</h1>
            {% for ip in results  %}
            <h3>{{ip}}</h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}