{% extends "header.html" %}
{% block content %}
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Extract IP addresses</h1>

            <form method="POST" id="extractor">
               <textarea placeholder="Text to extract from" rows="4" cols="50" name="raw_text" form="extractor"></textarea>
               </textarea><br>
               <input type="submit" value="Submit">
            </form>

        </div>
    </div>
{% endblock %}