{% extends "header.html" %}
{% block content %}
    <div style="padding-top: 40px;">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Original and CIDR notation</h1>

            <textarea placeholder="{{original}}" rows="4" cols="50" name="ips" form="cidr"></textarea>
             <textarea placeholder="{{results}}" rows="4" cols="50" name="ips" form="cidr"></textarea>
             </textarea>
        </div>
    </div>
{% endblock %}