{% extends "header.html" %}
{% block content %}
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Strip octets and add CIDR value</h1>

            <form method="POST" id="cidr">
               <textarea placeholder="IPs&#10Separated&#10By pressing Enter" rows="4" cols="50" name="ips" form="cidr"></textarea>
               </textarea><br>
                Subnet Mask (1-32, number only):
                <input type="text" name="subnet"><br>
                Octets to strip:
                <input class="radio-inline" type="radio" name="octet" value="one">1
                <input class="radio-inline" type="radio" name="octet" value="two">2
                <input class="radio-inline" type="radio" name="octet" value="three">3
                <br>
               <input type="submit" value="Submit">
            </form>

        </div>
    </div>
{% endblock %}