{% extends "header.html" %}
{% block content %}
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Display notes for multiple devices:</h1>

            <form method="POST">
                  DIDs (comma-separated): <input type="text" name="dids"><br>
                  <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>
{% endblock %}