{% extends "header.html" %}
{% block content %}
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Serial Number Report</h1>
            <form method="POST">
                <p>Please select an organization:</p>
                <select id="company" name="company">
                    {%  for key,value in data.items()  %}
                    <option value={{  key  }}>{{  value  }}</option>
                    {% endfor %}
                </select><br>
                <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>
{% endblock %}