{% extends "header.html" %}
{% block content %}
    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">SKU Multiple Devices</h1>

            <form method="POST">
                  SKU: <input type="text" name="sku"><br>
                  DIDs (Comma-separated): <input type="text" name="dids"><br>
                  <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>
{% endblock %}