{% extends "header.html" %}
{% block content %}
    <div style="padding-top: 40px;">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">SKU Results</h1>
            <table class="table" id="report">
                    <thead>
                      <tr>
                          <th onclick="sortTable(0)">SKU</th>
                          <th onclick="sortTable(1)">DID</th>
                          <th onclick="sortTable(2)">User Making Change</th>
                          <th onclick="sortTable(3)">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                    {%  for item,value in data.items() %}
                      <tr>
                        <td>{{ value['sku'] }}</td>
                        <td>{{ item }}</td>
                        <td>{{ value['username'] }}</td>
                        <td>{{ value['status'] }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>




    <!-- SCRIPTS -->
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("report");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

{% endblock %}